body {
  background-color: #fff;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42857143;
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
}

a { color: #4183c4; }

h1 a {
  color: inherit;
  text-decoration: none;
}
h1 img {
  vertical-align: middle;
}

h1 small a {
  color: #4183c4;
  text-decoration: underline;
}

h1 small a:hover {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #222;
}

nav a.active {
  font-weight: bold;
  text-decoration: none;
}

/* General style */
.grid-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
.grid-gallery figure {
    margin: 0;
}
 
.grid-gallery figure img {
    display: block;
    width: 100%;
}
 
.grid-gallery figcaption h3 {
    margin: 0;
    padding: 0 0 0.5em;
}
 
.grid-gallery figcaption p {
    margin: 0;
}
 
/* Grid style */
.grid-wrap {
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1em 1.875em;
}
 
.grid {
    margin: 0 auto;
}
 
.grid li {
    width: 25%;
    float: left;
    cursor: pointer;
}
 
.grid figure {
    padding: 15px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
 
/*.grid li:hover figure {
    opacity: 0.7;
}*/
 
.grid figcaption {
    background: #e4e4e4;
    padding: 25px;
}

.Image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}